<div class="">
  <h2>URLs</h2>
  
  <table class="listing" summary="Url list">
    <tr class="header">
      <th>ID</th>
      <th>Url</th>
      <th>Codename</th>
      <th>Created At</th>
      <th>Updated At</th>
      <th>Actions</th>
    </tr>
    <% @urls.each do |url| %>
    <tr>
      <td><%= url.id %></td>
      <td><%= url.url %></td>
      <td><%= url.codename %></td>
      <td><%= url.created_at %></td>
      <td><%= url.updated_at %></td>
      <td class="actions">
        <%= link_to("Show", {:action => 'show', :id => url.id}, :class => 'action show') %>
        <%= link_to("Edit", '#', :class => 'action edit') %>
        <%= link_to("Delete", '#', :class => 'action delete') %>
      </td>
    </tr>
    <% end %>
  </table>
</div>
