<%= link_to("<< Back to List", {:action => 'list'}, :class => 'back-link') %>

<div class="url show">
  <h2>Show Url</h2>

  <table summary="Subject detail view">
    <tr>
      <th>ID</th>
      <td><%= @url.id %></td>
    </tr>
    <tr>
      <th>Url</th>
      <td><%= @url.url %></td>
    </tr>
    <tr>
      <th>Codename</th>
      <td><%= @url.codename %></td>
    </tr>
    <tr>
      <th>Created</th>
      <td><%= @url.created_at %></td>
    </tr>
    <tr>
      <th>Updated</th>
      <td><%= @url.updated_at %></td>
    </tr>
  </table>
  
</div>
